#id01.w3-modal
  .w3-modal-content
    .w3-container
      %span.w3-button.w3-display-topright{:onclick => "document.getElementById('id01').style.display='none'"} ×
      = form_for(@team) do |f|
        .field
          = f.label :name
          %br/
          = f.text_field :name
        %div
          - User.all.each do |user|
            = check_box_tag "team[user_ids][]", user.id, f.object.users.include?(user)
            = user.fullname
        .actions
          = f.submit



